.services {
  width: 100%;
  margin-top: 150px;
  padding: 150px 0;
  background-color: #121212;
}

.services-container {
  width: 1150px;
  margin: 0 auto;
}

.services__title {
  margin-bottom: 30px;
  color: #ffffff;
}

.services__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 85px;
}



@media (max-width: 1199px) {
  .services {
    margin-top: 100px;
    padding: 150px 0 120px 0;
  }

  .services-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 15px 0 17px;
  }
}

@media (max-width: 767px) {
  .services {
    margin-top: 80px;
    padding: 80px 0;
  }

  .services-container {
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
  }

  .services__title {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  .services__list {
    row-gap: 60px;
  }
}
